@import url('https://fonts.googleapis.com/css?family=Armata&display=swap');

body {
	font-family: 'Armata', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	touch-action: manipulation !important;
}

.btn:focus {
	outline: none;
	box-shadow: none;
}

.myNavbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(207, 207, 207);
	padding: 0;
	height: 70px;
}

.header {
	font-size: 16px;
	font-weight: 700;
	margin: auto;
}

.navButtons {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-items: start;
	align-items: stretch;
}

.myCustomTable {
	margin-top: 70px;
}

.table--item-qty {
	width: 32px;
	display: inline-block;
	text-align: center;
}

.block_button {
	margin-bottom: 2px;
	margin-top: -14px;
}

.smallBtn {
	display: inline-block;
	width: 40px !important;
	height: 40px !important;
}

.text-animated-down {
	animation: moveInTop 1s ease-in-out;
	animation-fill-mode: backwards;
}

.btn-animated {
	animation: moveInBottom 1s ease-in-out;
	animation-fill-mode: backwards;
}

.btn-animated-down {
	animation: moveInTop 1s ease-in-out;
	animation-fill-mode: backwards;
}

.company-select {
	width: 100px;
	font-weight: 700;
	text-transform: uppercase;
}

/* dfsdf,,, */
@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes moveInTop {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
